* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*background color #282529*/
/*text color #fffff0 (ivory)*/
/*header text color #fc9928*/
/*border color: moccasin*/
/*accent color gold*/
body {
    background-color: #282529;
    font-family: 'Nunito', system-ui, sans-serif;
    color: ivory;
}

header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 8rem;
    background-color: #282529;
    box-shadow: 0px 5px 10px orange;
}

section {
    width: 100%;
    padding: 1rem;
}

section:hover {
    h2 {
        text-shadow: 1px 2px 6px orange;
    }
}

h1, h2, h3 {
    font-family: 'Alice', system-ui, serif;
    color: #fc9928;
    margin-bottom: .5rem;
}

nav {
    margin-top: 0.8rem;
}

.anchor {
    display: block;
    position: relative;
    top: -10rem;
    visibility: hidden;
}

header ol {
    display: flex;
    list-style: none;
    gap: 1rem;
}

header a {
    border: medium double #fffff0;
    width: fit-content;
    font-size: 1.2rem;
    color: #fffff0;
    text-decoration: none;
    padding: 0.2rem;
}

header a:hover {
    border: medium double gold;
    color: gold;
}

main {
    margin-top: 8.5rem;
    margin-left: 20%;
    margin-right: 20%;
}

img {
    display: block;
    margin: 1.5rem auto;
    width: 400px;
    border-radius: .5rem;
}

p {
    padding: .5rem 0;
}

.table-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    border-collapse: collapse;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid moccasin;
    padding: 8px 10px;
    text-align: center;
}

th:first-of-type, td:first-of-type {
    text-align: left;
}

.form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .15rem;
    border: medium double moccasin;
    border-radius: .5rem;
    padding: .5rem;
    background: radial-gradient(farthest-corner, #282529, #3e3940);
}

label {
    font-weight: bold;
}

form span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

#laptop, #pc {
    scale: 1.1;
    accent-color: gold;
}

.text-input {
    width: 80%;
    height: 2rem;
    outline: none;
    border-radius: 1rem;
    margin-bottom: .5rem;
    text-align: center;
}

.text-input:focus {
    outline: medium solid gold;
}

#activation-input {
    scale: 1.5;
    margin-left: .5rem;
}

#button-input {
    margin-bottom: .5rem;
    padding: .5rem;
    background-color: transparent;
    color: ivory;
    border-radius: 0.5rem;
    border: medium double ivory;
}

#button-input:hover {
    border: medium double gold;
    color: gold;
}

#activation-input {
    accent-color: gold;
}

footer {
    height: 5rem;
}

.submit-output {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #3e3940;
    border-radius: 0.5rem;
    border: medium double ivory;
}

.progress-bar {
    background-color: gold;
    height: 3px;
    border-radius: 2px;
}

.grass {
    position: fixed;
    transition: transform 10s linear;
    background-color: transparent;
    width: 80px;
    height: 80px;
}

.score-container {
    display: none;
    position: fixed;
    top: .5rem;
    left: .5rem;
    padding: .5rem;
}

.score {
    font-weight: bold;
}

@media (max-width: 1000px) {
    header {
        height: 4rem;
    }

    main {
        margin-top: 4.5rem;
    }

    .anchor {
        top: -6rem;
    }

    nav {
        position: fixed;
        top: 2.5rem;
        left: .8rem;
        scale: .8;
    }

    header ol {
        flex-direction: column;
    }

    header a {
        border: medium solid #fffff0;
    }

    header a:hover {
        border: medium solid gold;
    }

    form {
        min-width: 400px;
    }
}

@media (max-width: 750px) {
    nav {
        display: none;
    }

    h1 {
        scale: .8;
    }

    form {
        min-width: 240px;
    }

    main {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 670px) {
    img {
        width: 80%;
    }
    .score-label {
        display: none;
    }
}